@use 'normalize-scss/sass/normalize/import-now';
@use './fonts.scss';
@use '@glidejs/glide/dist/css/glide.core.min.css';

:root {
  --color-bg: #353436;
  --color-accent: #e2d1a6;
  --color-white: #fff;
  --color-black: #111;
  --color-gray: #8c8c8c;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font:
    400 16px/1.5 'Open Sans',
    Arial,
    sans-serif;
  color: var(--color-white);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

a {
  color: var(--color-white);
  text-decoration: none;
  transition: 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-accent);
  }
}

.no-scroll {
  overflow: hidden;
}

.button-primary {
  font:
    400 18px/1 'Open Sans',
    Arial,
    sans-serif;
  border: none;
  padding: 8px 55px;
  color: var(--color-white);
  background-color: var(--color-black);
  cursor: pointer;
  transition: 0.3s;

  &:hover,
  &:active {
    background-color: var(--color-accent);
  }
}

.input-primary {
  font:
    300 14px/1.5 'Open Sans',
    Arial,
    sans-serif;
  width: 100%;
  color: var(--color-gray);
  padding: 5px;
  border: none;
}

.label-primary {
  font:
    400 10px/1 'Open Sans',
    Arial,
    sans-serif;
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: var(--color-gray);
}

.checkbox-primary {
  width: 10px;
  height: 10px;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.burger__menu {
  display: none;
  transition: 0.3s;
  cursor: pointer;
  z-index: 40;

  &:hover {
    .burger__menu-line {
      background-color: var(--color-accent);
    }
  }

  &-line {
    width: 32px;
    height: 2px;
    margin-bottom: 7px;
    background-color: var(--color-white);
  }

  &--open {
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;

    .burger__menu-line:nth-child(1) {
      transform: translateY(7px);
    }
    .burger__menu-line:nth-child(2) {
      opacity: 0;
    }
    .burger__menu-line:nth-child(3) {
      transform: translateY(-11px) rotate(90deg);
    }
  }
}

.main-screen__wrapper {
  position: relative;
}

.header {
  padding: 24px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-bg);
  z-index: 1;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-img {
      width: 83px;
      height: 83px;
      margin-right: 10px;
    }

    &-text {
      font:
        300 28px/1 'Open Sans',
        Arial,
        sans-serif;
      color: var(--color-white);
      margin-top: -10px;

      &--accent {
        font-size: 34px;
        font-weight: 900;
      }
    }
  }

  &__nav {
    line-height: 1;
    align-self: flex-end;
  }

  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      padding-left: 25px;
      position: relative;

      &:hover &--submenu {
        height: auto;
        overflow: visible;
        padding-top: 24px;
      }

      &--submenu {
        position: absolute;
        left: 10px;
        top: 100%;
        padding-top: 0;
        background-color: var(--color-bg);
        height: 0;
        overflow: hidden;
        z-index: 1;
        transition: 0.3s;
      }
    }

    &-link {
      font-size: 18px;
      line-height: 1;
      text-transform: uppercase;
      color: var(--color-white);
      transition: 0.3s;

      &--active {
        font-weight: 600;
        color: var(--color-accent);
      }

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__submenu {
    list-style-type: none;
    margin: 0;
    padding: 9px;

    &-item {
      padding: 6px;
      border-bottom: 1px solid var(--color-white);

      &:last-child {
        border-bottom: none;
      }
    }

    &-link {
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
      color: var(--color-white);
      transition: 0.3s;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__login-btn {
    position: absolute;
    right: 15px;
    top: -20px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-white);
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::after {
      content: '';
      background-image: url(../images/icons/lock.png);
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      width: 9px;
      height: 13px;
      margin-left: 9px;
    }
  }
}

.main {
  position: relative;

  .glide {
    position: relative;

    &__slides {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &__slide img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }

    &__slide {
      position: relative;
    }

    .slide {
      &__content {
        position: absolute;
        right: 0;
        top: 50%;
        max-width: 510px;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        padding: 17px 15px 20px 25px;
      }

      &__title {
        font-size: 30px;
        font-style: italic;
        font-weight: 600;
        line-height: 1;
        color: var(--color-black);
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 25px;
      }

      &__desc {
        font-size: 18px;
        line-height: 1.3;
        color: var(--color-black);
        margin-bottom: 0;
      }

      &__img {
        vertical-align: top;
      }
    }

    &__bullets {
      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;
      text-align: center;
    }

    &__bullet {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: var(--color-white);
      border: 1px solid var(--color-black);
      margin: 0 3px;
      cursor: pointer;
      transition: 0.3s;

      &--active {
        background-color: var(--color-accent);
      }
    }
  }

  .info-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &--open {
      .info-panel__content {
        height: auto;
        overflow: visible;
      }

      .info-panel__btn::after {
        background-image: url(../images/icons/angle-bottom.png);
      }
    }

    &__btn {
      border: none;
      background-color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 7px 23px 2px 23px;
      cursor: pointer;

      &::after {
        content: '';
        background-image: url(../images/icons/angle-top.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 20px;
      }
    }

    &__content {
      display: flex;
      height: 0;
      overflow: hidden;
    }

    &__item {
      flex: 1 1 0;
      padding: 15px 20px 10px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:nth-child(1) {
        background-color: var(--color-accent);
      }

      &:nth-child(2) {
        background-color: var(--color-white);

        .info-panel__link {
          color: var(--color-black);
        }
      }

      &:nth-child(3) {
        background-color: var(--color-black);

        .info-panel__title,
        .info-panel__desc {
          color: var(--color-white);
        }
      }
    }

    &__title {
      font-size: 28px;
      font-weight: 600;
      line-height: 1.1;
      min-height: 2em;
      color: var(--color-black);
      margin: 0;
      margin-bottom: 5px;
    }

    &__desc {
      font-size: 16px;
      line-height: 1.5;
      color: var(--color-black);
      margin: 0;
      margin-bottom: 15px;
    }

    &__link {
      font-size: 18px;
      line-height: 1;
      color: var(--color-white);
      display: block;
      text-align: right;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.about {
  padding: 25px 0 12px;

  &__container {
    max-width: 970px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 192px;
  }

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    margin: 9px 0 19px;
  }

  &__desc {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
  }

  .newsletter {
    &__form {
      display: flex;
      flex-direction: column;
      gap: 9px;
      padding-top: 3px;
    }

    &__input:first-child {
      margin-bottom: 5px;
    }
  }
}

.footer {
  padding: 10px 0 10px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__company {
    &-info {
      display: flex;
      font-size: 12px;
      column-gap: 16px;
    }
  }

  &__social {
    margin-left: auto;
    margin-right: 76px;

    &_icon {
      margin-right: 5px;

      &.icon-facebook::after {
        content: url(../images/icons/facebook.png);
        width: 18px;
        height: 18px;
      }

      &.icon-instagram::after {
        content: url(../images/icons/instagram.png);
        width: 19px;
        height: 18px;
      }

      &.icon-pinterest::after {
        content: url(../images/icons/pinterest.png);
        width: 13px;
        height: 18px;
      }

      &.icon-facebook:hover::after,
      &.icon-instagram:hover::after,
      &.icon-pinterest:hover::after {
        display: inline-block;
        transform: scale(1.1);
      }
    }
  }

  &__langs {
    font-size: 0;
    text-transform: uppercase;
  }

  &__lang {
    font-size: 14px;
    display: inline-block;
    height: 14px;
    padding: 0 9px;
    line-height: 1;
    border-right: 1px solid var(--color-white);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: var(--color-accent);
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}

.modal {
  display: none;

  &--open {
    display: block;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    z-index: 5;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 75px 25px;
    max-width: 595px;
    width: 100%;
    background-color: var(--color-bg);
    z-index: 10;
  }

  &__close-btn {
    position: absolute;
    right: 8px;
    top: 20px;
    border: none;
    background: transparent;
    color: var(--color-white);
    font-size: 52px;
    font-weight: 300;
    line-height: 0;
    cursor: pointer;

    &:hover {
      color: var(--color-accent);
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
    margin-bottom: 23px;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
  }

  &__inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 185px;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
  }

  &__info {
    font:
      400 12px/1 'Open Sans',
      Arial,
      sans-serif;
    color: var(--color-gray);
  }
}

// media queries

@media (max-width: 1100px) {
  .footer {
    &__container {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 15px;
    }

    &__company-info {
      flex-basis: 100%;
      justify-content: center;
      flex-wrap: wrap;
      order: 1;
    }

    &__social {
      order: 0;
      margin: 0;
      flex-basis: 100%;
      text-align: center;
    }

    &__langs {
      order: 2;
      flex-basis: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__logo {
      &-img {
        width: 65px;
        height: 65px;
      }

      &-text {
        font-size: 22px;

        &--accent {
          font-size: 28px;
          font-weight: 700;
        }
      }
    }

    &__menu {
      &-item {
        padding-left: 13px;

        &:hover &--submenu {
          padding-top: 15px;
        }
      }
    }

    &-link {
      font-size: 17px;
    }

    &__submenu {
      padding: 5px 9px;

      &-link {
        font-size: 15px;
      }
    }
  }

  .main {
    .glide {
      .slide {
        &__content {
          max-width: 450px;
          padding: 15px 10px 15px 20px;
        }

        &__title {
          font-size: 25px;
          margin-bottom: 15px;
        }

        &__desc {
          font-size: 16px;
        }
      }

      &__bullets {
        bottom: 30px;
      }
    }

    .info-panel {
      &__btn {
        padding: 5px 15px 2px 15px;

        &::after {
          width: 36px;
          height: 18px;
        }
      }

      &__item {
        padding: 10px 15px;
      }

      &__title {
        font-size: 25px;
      }

      &__desc {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 10px;
      }

      &__link {
        font-size: 16px;
      }
    }
  }

  .about {
    padding-bottom: 20px;

    &__container {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 15px;
      column-gap: 50px;
    }

    &__item {
      max-width: 260px;
      width: 100%;
    }
  }

  .modal {
    &__content {
      max-width: 500px;
      padding: 15px 25px;
    }

    &__close-btn {
      font-size: 40px;
    }

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__form {
      gap: 9px;
    }

    &__info {
      font-size: 11px;
    }
  }
}

@media (max-width: 768px) {
  .button-primary {
    font-size: 15px;
    padding: 7px 40px;
  }

  .input-primary {
    font-size: 12px;
    padding: 5px;
  }

  .container {
    padding: 0 15px;
  }

  .burger__menu {
    display: block;
  }

  .header {
    padding: 18px 0;

    &__container {
      align-items: baseline;
    }

    &__nav {
      &--open {
        top: 0;
      }

      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      height: 100vh;
      overflow-y: auto;
      padding: 50px 20px;
      background-color: var(--color-bg);
      z-index: 20;
      transition: 0.5s;
    }

    &__menu {
      flex-direction: column;
      align-items: center;
      row-gap: 25px;

      &-item {
        padding-left: 0;
        text-align: center;
      }

      &-item--submenu {
        position: static;
        height: auto;
      }
    }

    &__submenu-item {
      padding: 5px 0;

      &:last-child {
        border-bottom: 1px solid var(--color-white);
      }
    }

    &__login-btn {
      right: 10px;
      top: -10px;
      font-size: 12px;

      &::after {
        margin-left: 5px;
        width: 8px;
        height: 11px;
      }
    }

    &__logo {
      &-img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
      }

      &-text {
        font-size: 20px;

        &--accent {
          font-size: 24px;
        }
      }
    }
  }

  .main {
    .glide {
      .slide {
        &__content {
          max-width: 350px;
          padding: 12px 10px 12px 15px;
          transform: translateY(-100%);
        }

        &__title {
          font-size: 20px;
          margin-bottom: 10px;
        }

        &__desc {
          font-size: 14px;
          margin-top: 10px;
        }
      }

      &__bullet {
        width: 12px;
        height: 13px;
        margin: 0 2px;
      }
    }

    .info-panel {
      &__btn {
        padding: 5px 13px 2px 13px;

        &::after {
          width: 30px;
          height: 15px;
        }
      }

      &.container {
        padding: 0;
      }

      &__item {
        padding: 10px;
      }

      &__title {
        font-size: 23px;
      }

      &__desc {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 5px;
      }

      &__link {
        font-size: 15px;
      }
    }
  }

  .about {
    &__container {
      row-gap: 10px;
      column-gap: 40px;
    }

    &__item {
      max-width: 220px;
    }
  }

  .footer {
    &__container {
      row-gap: 10px;
    }

    &__company-info {
      flex-basis: 70%;
      font-size: 11px;
    }

    &__lang {
      font-size: 12px;
      height: 12px;
    }
  }

  .modal {
    &__content {
      max-width: 300px;
    }

    &__inner {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }

    &__close-btn {
      font-size: 35px;
    }

    &__title {
      font-size: 18px;
    }

    &__subtitle {
      font-size: 14px;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .button-primary {
    font-size: 14px;
    padding: 6px 30px;
  }

  .input-primary {
    font-size: 11px;
    padding: 4px;
  }
  .container {
    padding: 0 10px;
  }

  .burger__menu {
    &-line {
      width: 25px;
      margin-bottom: 5px;
    }

    &--open {
      .burger__menu-line:nth-child(1) {
        transform: translateY(3px);
      }
    }
  }

  .header {
    padding: 15px 0;

    &__login-btn {
      right: 5px;
      font-size: 10px;

      &::after {
        width: 7px;
        height: 10px;
      }
    }

    &__logo {
      &-img {
        width: 40px;
        height: 40px;
        margin-right: 3px;
      }

      &-text {
        font-size: 15px;

        &--accent {
          font-size: 18px;
        }
      }
    }
  }

  .main {
    .glide {
      .slide {
        &__content {
          left: 0;
          margin: 0 auto;
          max-width: 280px;
          padding: 12px 10px;
        }

        &__title {
          font-size: 17px;
          margin-bottom: 8px;
        }

        &__desc {
          font-size: 14px;
          margin-top: 8px;
        }
      }

      &__bullet {
        width: 10px;
        height: 11px;
      }
    }

    .info-panel {
      &__btn {
        padding: 5px 10px 2px 10px;
      }

      &__item {
        padding: 7px;
      }

      &__title {
        font-size: 18px;
      }

      &__desc {
        font-size: 13px;
      }

      &__link {
        font-size: 13px;
      }
    }
  }

  .about {
    &__container {
      row-gap: 10px;
      column-gap: 40px;
    }

    &__title {
      font-size: 13px;
      margin: 10px 0;
    }

    &__desc {
      margin-bottom: 5px;
    }
  }

  .footer {
    &__company-info {
      font-size: 10px;
    }

    &__lang {
      font-size: 11px;
      height: 11px;
    }
  }

  .modal {
    &__content {
      max-width: 280px;
    }

    &__close-btn {
      font-size: 30px;
    }

    &__title {
      font-size: 16px;
    }

    &__subtitle {
      font-size: 12px;
    }
  }
}
